.verify-account{
    /* background-image: url("https://res.cloudinary.com/studentassister/image/upload/v1630523109/612fcea0e5673_ndk1pq.jpg"); */
    background-image: url("https://drive.google.com/uc?export=view&id=17ipnWi45REB6ejaA4uRVY0eyObS23Cuh");
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.bg-overlay-activate {
    background: rgba(255, 255, 255, 0.700);  
    width: 100%;
}